.three{
	width: 47%;
}
.section2{
	margin:0;
}
.section3{
	clear: both;
	float: none;
	width: auto;
	padding-top: 20px;
}

.nave{
	width: 25%;
	border-bottom: 1px solid black;




}
/*----------Max Weidth 620px----------*/

@media screen and (max-width: 690px){
	.nave{
		width:33%;
		border-bottom: 1px solid black;
	}
	.section-primary{
		width:100%;
	}
	.threebox{
		width: 100%;
		margin: 0 auto;
	} 
	.threebox div{
		width: 80%;
		margin:0 auto 15px auto;
	}
}

/*____________MAX WIDTH 500px___________*/

@media screen and (max-width: 500px){
	.three{
		width: auto;
		float: none;
		margin-right: 0;
	}

	.notv{
		display: none;
	}
	.nave{
		width: 50%;
		font-size: 85%;
	}
	.threebox{
		width: 100%;
	} 

}