@import "base";
@import "grid";
@import "responsive";

// ====================
// Hero
// ====================
.hero {
	position: relative;
	height: 100vh;
	color: $primary-text-color;
}
.hero__heading{
	font-weight: 400;
}
.hero__text{
	margin: 2rem 0;
	font-weight: 300;
}
.banner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.hero__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	// color: $primary-text-color;
	font-size: 20px;
}
.fa-arrow-left {
	left: 30px;
}
.fa-arrow-right {
	right: 30px !important;
}
.main-btn {
	color: $primary-text-color;
	font-weight: 700;
	border: none;
	background: $primary-color;
	padding: 20px 40px;
	position: relative;
	transition: background 300ms linear 300ms;
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	border-width: 2px;
	border-radius: 5px;
	backface-visibility: hidden;
	margin-top: 30px;
	margin-left: 30px;
}
.btn{
	@extend .main-btn;
	background-color: transparent;
	border: 2px solid $primary-text-color;
	transition: background 300ms linear 300ms, color 300ms linear 300ms ;
}

.mdot-left, .mdot-right {
	width:30px;
	height: 30px;
	background: #79ccf2;
	border-radius: 50%;
	position: absolute;
	display: none;

}
.bdot-left, .bdot-right{
	@extend .mdot-left;
	background : $primary-text-color;
}

.main-btn:hover {
	background: #79ccf2;
	.mdot-left {
		display: inline-block;
		animation: slide 350ms linear forwards;
	}
	.mdot-right {
		display: inline-block;
		animation: slide2 350ms linear forwards;
	}

} 
.btn:hover {
	background: $primary-text-color;
	color: $secondary-color;
	.bdot-left {
		display: inline-block;
		animation: slide 350ms linear forwards;
	}
	.bdot-right {
		display: inline-block;
		animation: slide2 350ms linear forwards;
	}

} 
@keyframes slide {
	0% {
		left: 0;
		top:30%;
		opacity: 1;
	}
	99% {
		left: 50%;
		top:30%;
		opacity: 1;
	}
	100% {
		left: 50%;
		top:30%;
		opacity: 0;
	}
}
@keyframes slide2 {
	0% {
		right: 0%;
		top:30%;
		opacity: 1;
	}
	99% {
		right: 50%;
		top:30%;
		opacity: 1;
	}
	100% {
		right: 50%;
		top:30%;
		opacity: 0;
	}
}
// ====================
// Header
// ====================
.nav {
	padding: 30px 0;
}
.nav, .menu {
	@extend %flex;
}
.sub-menu2-1,
.sub-menu2-2,
.sub-menu2-3,
.sub-menu2-4,
.sub-menu2-5 {
	display: none;
}
.menu__item {
	margin-left: 30px;
	position: relative;
	&:last-child {
		background: $primary-color;
		padding: 12px 16px;
		border-radius: 4px;
		.menu__link {
			padding-bottom: 0;
		}
	}
	&:hover .sub-menu {
		display: inline-block;
	}
}
.primary-drop:hover {
	.place{
		display: inline-block;
		position: absolute;
		left:100%;
		
	}
}
.menu__link {
	color: $primary-text-color;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 10px;
	box-sizing: content-box;
	border-bottom: 2px solid transparent;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 2px;
		display: inline-block;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		transform: scaleX(0);
		transform-origin: center;
		background: linear-gradient(to right, $primary-color, $secondary-color);
	}
	&.active:after {
		width: 100%;
		transform: scaleX(1);
	}
	&.active:hover:after {
		animation: none;
	}
	

	&:hover:after {
		animation: width 200ms linear forwards;
	}
}
@keyframes width {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
.component-link {
	position: relative;
	span {
		display: inline-block;
		position: absolute;
		top: -20px;
		right: 0;
		background: red;
		padding: 4px 8px;
		border-radius: 3px;
		color: $primary-text-color;
		font-size: 12px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
	}
}

.sub-menu,
.sub-menu2-1,
.sub-menu2-2,
.sub-menu2-3,
.sub-menu2-4,
.sub-menu2-5  {
	position: absolute;
	width: 200px;
	z-index: 1;
	display: none;
	// padding-top: 30px;
	a {
		color: #fff;
		font-size: 20px;
		padding: 10px 10px;
	}
}
.sub-menu{
	padding-top:40px;
}
.sub-menu__list {
	background: #000;
	border-top: 2px solid $primary-color;
}
.top{
	margin-top: -26%;
}

// ====================
// Theme
// ==================== 
.theme {
	padding-top: 80px;
	position: relative;
	height: 700px;
	color: $secondary-text-color;
}
.theme__heading{
	font-weight: 400;
}
.theme__text{
	margin: 1.5rem 0 ;

}
.flexible {
	background: linear-gradient(0deg, #42b574 0%, #84c450 100%);	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.theme__img {
	position: absolute;
}
.theme__img1 {
	z-index: -2;
	left: 100px;
	bottom: 80px;
}
.theme__img2 {
	left: 50%;
	transform: translateX(-50%);
	z-index: -3;
}
.theme__img3 {
	right: 150px;
	bottom: -150px;
	z-index: -2;
}

// ====================
// Feature Header
// ==================== 
.feature-header {
	color: $primary-text-color;
	padding: 60px 0;
	background: linear-gradient(to right, $primary-color, $secondary-color);
	position: relative;
	&:after {
		content: '';
		height: 0;
		width: 0;
		border: 30px solid transparent;
		border-top: 30px solid #61bc63;
		box-sizing: content-box;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);
		left: 50%;
		z-index: 1;
	}
}
.feature-header__intro {
	width: 70%;
	margin: 1.5rem auto;
}

// ====================
// Features
// ====================
.features {
	position: relative;
	padding: 60px 0;
	height: 900px;
}
.features__bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
}
.feature__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	color: $primary-text-color;
	grid-gap: 30px;
	i {
		font-size: 30px;
	}
}
.features__icon {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid $primary-text-color;
	padding: 4px;
}
.features__icon-box {
	height: 60px;
	width: 60px;
	background: $primary-color;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	&.box1{
		background: linear-gradient(45deg, #8668ad 0%, #695999 100%);
	}
	&.box2{
		background: linear-gradient(45deg, #55bbeb 0%, #79ccf2 100%);
	}
	&.box3{
		background: linear-gradient(45deg, #f5bf2f 0%, #F3A43D 100%);
	}
	&.box4{
		background: linear-gradient(45deg, #f54b0f 0%, #e50a0a 100%);
	}
	&.box5{
		background: linear-gradient(45deg, #4668ad 0%, #0f5199 100%);
	}
	&.box6{
		background: linear-gradient(45deg, #42b574 0%, #84c450 100%);
	}
	&.box7{
		background: linear-gradient(45deg, #191919 0%, #434345 100%);
	}
	&.box8{
		background: linear-gradient(45deg, #bd8bff 0%, #690999 100%);
	}
	&.box9{
		background: linear-gradient(45deg, #8668ad 0%, #55bbeb 100%);
	}


}
.features__heading {
	font-size: 1.5rem;
	margin: 1rem 0;
}
.features__text {
	font-size: 1rem;
	line-height: 1.5;
}
.ad {
	color: $primary-text-color;
	padding: 60px 0;
	background: linear-gradient(to right, #55bbeb, $primary-color, $secondary-color);
}
.ad__container {
	display: flex;
	align-items: center;
	justify-content: center;
	.fas{
		margin: 0 10px;
		font-size: 1.2rem;
	}
}
.ad__heading {
	margin-right: 40px;
}

// ====================
// About
// ====================
.about {
	padding: 50px 0;
	.about__box{
		p{
			margin: 1rem 0;
			padding-right:40px; 
		}
		.hr{
			display: inline-block;
			width: 50px;
			height: 2px;
			background: linear-gradient(to right,$primary-color, $secondary-color);

		}
	}
}

// ====================
// Data
// ====================
.data {
	padding: 50px 0;
	background: url('../../assets/media/background-01-1920x1275.jpg');
}
.data__container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 30px;
	color: $primary-text-color;
}
.data__item{
	.data__heading {
		font-size: 3rem;
		margin-bottom: 1rem;
		background: linear-gradient(90deg, #8668ad 0%, #55bbeb 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.data__hr {
		margin: 1rem auto;
		width:50px;
		height: 2px;
		background: $primary-text-color;
	}
	p{
		font-weight: 700;
		word-spacing: .3rem;
		letter-spacing: .2rem;
		font-size: 1.2rem;
	}
}
// ====================
// Available
// ====================
.available {
	color: $secondary-text-color;
	.available__figure {
		text-align: center;
		margin: 3rem 0;
		.event-figure {
			width:90%;
			height:auto;
		}

	}
	h2 {
		text-align: center;
		margin: 2.5rem 0;	
	}
	h4{
		font-weight: bold;
		font-size: 1.6rem;
		margin-bottom: 1rem; 
	}
	p{
		margin-bottom: 1.5rem;
	}
}
.available__grid{
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.available__grid__child{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto 1fr;
	.far{
		font-size: 2.4rem;
		color: #ccc;
	}
}
.available__footer{
	text-align: center;
	background: #191919 url(../media/background-02-481x360.png);
	// background-image:  linear-gradient( $secondary-text-color, rgba(31, 31, 31,.2)),url("../media/background-03-1920x900.jpg");
	padding: 2rem;
	
	position: relative;

}
.available__tri {
	height: 0;
	width: 0;
	border: 30px solid transparent;
	border-bottom: 30px solid #191919;
	position: absolute;
	top:-60px;
	left: calc(50% - 30px);
}

// ====================
// Child Themes
// ====================
.child_themes{
	padding: 60px 0;

	h4{
		margin: 1.5rem 0;
	}
}


// ====================
// Team member
// ====================
.team__header {
	h3 {
		font-size: 3rem;
	}
	p {
		margin: 1rem 0;
		font-size: 1.2rem;
	}
}
.team__hr {
	display: inline-block;
	width: 5%;
	height: 2px;
	background: linear-gradient(0deg, #42b574 0%, #84c450 100%);	
}

.team__member {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap:30px;
	.member {
		.member__hr {
			width: 20%;
		}
		.member__list {
			height: 140px;
			width: 140px;
			border-radius: 50%;
		}
		h3 {
			font-size: 1.5rem;
			margin: .5rem 0;
		}
		h5 {
			color: skyblue;
			font-size: 1rem;
			margin: .5rem 0;
		}		
	}
}
.media__content {
	max-width: 80%;
	margin: 1.5rem auto;
	display: flex;
	justify-content: space-around;
}
.media__icon {
	position: relative;
	display: inline-block;
	color: white;
	background: rgb(43, 41, 41);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	.fab {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
// ====================
//Clients
// ====================

@media all and (max-width: 720px){

}