
/*___________________cssRESETend____________*/
*,*:before,*:after{
	box-sizing: border-box;
}
body{
	background-color: #282e2b;
	font-size: 16px;
	line-height: 1.5;
	color: white;
}
.clearfix{
	*zoom:1;
}
.clearfix:before,.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
p{
	margin: 20px 0;
	font-family: 'helvetica', sans-serif;	
	color: #a6a6a6;
	font-size: 1em;
}
.wrapper{
	padding: 20px;
	margin: 20px auto;
	max-width: 1000px;
	font-family: 'roboto slab', sans-serif;
}
.color{
	color: #fa5a4f;
}
.main_heading{
	margin: 20px 0;
	font-size: 2.2rem;
	text-shadow: 2px 2px 2px  black;
	color: white;
}
.subheading{
	margin: 10px;
	font-size: 1.4rem;
}
.left{
	float: left;
}
.right{
	float: right;
}
.section{
	width:95%;
	height: auto;
}

@media all and (max-width: 600px){
	body{
		font-size: 20px;
	}
	.main_heading,.left,.right{
		float: none;
		text-align: center;
	}

}
@media screen and (max-width: 400px){
	body{
		font-size: 22px;
	}

}
@media screen and (max-width: 300px){
	body{
		font-size: 25px;
	}
}
