/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*___________________cssRESETend____________*/
*,*:before,*:after{
	box-sizing: border-box;
}
.wrapper{

	max-width: 1200px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
h1{
	text-align: center;
	font-weight: 700;
	margin:2%;
	color: white;
	font-size: 24px;
}
body{
	background: linear-gradient( rgba(0,0,0,.4), #10332a24  ) ,url("../media/main.jpg") center center no-repeat;
	/*background-size: 100vw 100%;*/
	font-size: 18px;
	font-family: helvetica,san-serif;
}

.grad_section{
	margin:0 auto;
	width: 90%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	align-self: center;
}

.box_text
{
	align-self: center;
}
/*_________gradient box____________*/

.box{
	display: grid;
	background-color: #FF0248;
	width: 90%;
	height:200px;
	text-align: center;
	border-radius: 10px;
	margin: 25px 0;

}
.linear_grad{
	background:linear-gradient(to right, #FF0248, #332a24);
}
.radial_grad{
	background: radial-gradient(#FF0248, #332a24);
}

/*--------------IMAGE BOX------------*/

.image_box{
	position: relative;
	/*left :30px;*/
	margin: 50px auto;
	background: linear-gradient( rgba(255,0,0,.4), #10332a24  ) ,url("../media/base.jpg") ;
	background-size: 100% 100%;
	height: 250px;
	width: 70%;
	border-radius: 10px;
	text-align: center;
}
.image_text{
	position: absolute;
	top: 50%;
	right: 50%;
}

















@media screen and (max-width: 680px){
	body{
		font-size: 20px;
	}
	.grad_section{
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
	}
	.br{
		grid-column: span 2;
	}
	.image_box{
	width: 80%;}

}
@media screen and (max-width: 420px){
	body{
		font-size: 22px;
	}
	.grad_section{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.br{
		grid-column: span 1;
	}
	.image_box{
		width: 90%;
	}

}
