@import "base";


.header{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 2;
  padding: .5rem 2rem;
  background: $darkblueblack;
  border-bottom:2px solid #04c2c9; 

  &.--grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .logo{
    -webkit-filter: invert(100%);
            filter: invert(100%);
    height: 2.5rem;
    width: auto;
    transform: scale(1.8, .8);
  }
  
  .nav-block{
    display: flex;
    align-items: center;
    align-content: center;

    li{
      display: inline-block;
      flex: 1;
      align-self: center;
    }
    a{
      color: white;
      font-weight: bold;
      align-self: center;
    }

  }
}
/*
=============================
---------HERO----------------
==============================
*/
.hero{
  background: $blueblack;
  position: relative;
  height: 100vh;

}
.hero__content{
  color: white;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%)
}
.hero__heading{
  margin: 0 auto 3rem auto;
}
.heading__shade{
  color: $pink;
}

.--btn {
  $width: 250px;
  $border: 5px;
  margin: 2rem auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 60px;
  width: $width;
  text-decoration: none;
  border: $border solid $blue;
  position: relative;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  transition:  border-color .4s ease-in;
  cursor: pointer;
  .hero__btn__icon{
    margin-left: 1rem;
    transition: transform .4s linear;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 7px;
    width: $width / 5;
    background-color: $blueblack;
    transition: left .35s ease-out, right .35s ease-out;
  }
  &::after {
    bottom: -($border + 1px);
    right: -($border + 1px);
  }
  &::before {
    top: -($border + 1px);
    left: -($border + 1px);
  }
  &:hover{
    border-color:$pink; 
    &::before {
      left: ($width - ($width / 5) - $border);
    }
    &::after {
      right: ($width - ($width / 5) - $border);
    }
    & .hero__btn__icon{
      transform: rotate(90deg);
    }
  }
}

/*
=============================
---------ABOUT----------------
==============================
*/
.about{
 background: #ccc;
}
.about__me{
  &.--grid{
    display: grid;
    grid-template-columns: 4fr 5fr;
  }
}  
.profile-container{

} 
.profile-image{
  background: url("../media/imacycleopath.jpg" );
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(25% 10%, 75% 10%, 93% 50%, 75% 90%, 25% 90%, -5% 50%);
  background-image: cover;
}



