/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
-----------CSS RESET ENDS------------
*/
:root {
  font-size: 16px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.--padding {
  padding: 3rem 0;
}

.--center {
  text-align: center;
}

--makecenter {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 2;
  padding: .5rem 2rem;
  background: #1B242f;
  border-bottom: 2px solid #04c2c9;
}

.header.--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 2.5rem;
  width: auto;
  -webkit-transform: scale(1.8, 0.8);
          transform: scale(1.8, 0.8);
}

.header .nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .nav-block li {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .nav-block a {
  color: white;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*
=============================
---------HERO----------------
==============================
*/
.hero {
  background: #1F2A3C;
  position: relative;
  height: 100vh;
}

.hero__content {
  color: white;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__heading {
  margin: 0 auto 3rem auto;
}

.heading__shade {
  color: #e31b6d;
}

.--btn {
  margin: 2rem auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  height: 60px;
  width: 250px;
  text-decoration: none;
  border: 5px solid #04c2c9;
  position: relative;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  -webkit-transition: border-color .4s ease-in;
  transition: border-color .4s ease-in;
  cursor: pointer;
}

.--btn .hero__btn__icon {
  margin-left: 1rem;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
}

.--btn::before, .--btn::after {
  content: '';
  position: absolute;
  height: 7px;
  width: 50px;
  background-color: #1F2A3C;
  -webkit-transition: left .35s ease-out, right .35s ease-out;
  transition: left .35s ease-out, right .35s ease-out;
}

.--btn::after {
  bottom: -6px;
  right: -6px;
}

.--btn::before {
  top: -6px;
  left: -6px;
}

.--btn:hover {
  border-color: #e31b6d;
}

.--btn:hover::before {
  left: 195px;
}

.--btn:hover::after {
  right: 195px;
}

.--btn:hover .hero__btn__icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*
=============================
---------ABOUT----------------
==============================
*/
.about {
  background: #ccc;
}

.about__me.--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 5fr;
      grid-template-columns: 4fr 5fr;
}

.profile-image {
  background: url("../media/imacycleopath.jpg");
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  clip-path: polygon(25% 10%, 75% 10%, 93% 50%, 75% 90%, 25% 90%, -5% 50%);
  background-image: cover;
}
/*# sourceMappingURL=style.css.map */